body {
    background-color: #057777;
    font-family: 'Quicksand', sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.jumbotron {
    padding: 0.5rem 2rem;
}