<nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">

                <?php echo $this->Html->link(' <i class="fa fa-user" aria-hidden="true"></i> Usuarios',array('controller'=>'users','action'=>'index'),array('class'=>'nav-link','escape'=>false)); ?>
              </li>

            </ul>
          </div>
        </nav>
